::-webkit-scrollbar{display: none}

#all1 {
    width: 100%;
    height: 100%;
    background-color: ghostwhite;
    border: red 1px solid;
    position: fixed;
    display: flex;
    flex-flow: column;
}

.da{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    flex: 1;
    margin-top: 5px;
    overflow-y: scroll;
    background-color: lightgrey;
}
.same{
    width: 100%;
}
/*.border3{*/
    /*border: darkgrey 1px solid;*/
/*}*/
.yi{
    width: 100%;
    background-color: white;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 2px;


}
.yi1{
    width: 40px;
    height: 40px;

}
.yi2{
    display: flex;
    flex: 1;
    font-size: 20px;
    position: relative;
    left: 10px;
    color: cadetblue;
}
.er{
    display: flex;
    flex-flow: column;
    margin-top: 10px;
    margin-bottom: 10px;
}
